#menu{
    background-color: currentColor;
    text-align: center;
    padding-bottom: 430px;
}

#menu h1{
    color: lightgray;
    padding: 15px;
    font-family: serif;
    font-size: xxx-large;

}

#corpo{
    background-color: whitesmoke;
}

#usuario{
    margin-top: 20px;
    text-align: end;
    font-family: sans-serif;
    font-size: 45px;
}

#btn-add-usuario{
    margin-top: 30px;
    padding-right: 45px;
    text-align: end;
}

table{
    border: 1px solid grey;
    margin: 20px;
    text-align: center;
    width: 900px;
    box-shadow: 1px 1px 5px grey;
}

thead{
    font-family: sans-serif;
    font-size: 25px;
}

table td{
    padding: 10px;
    border: 1px solid grey;
    height: 45px;
}

.td-usuarios{
    width: auto;
}

.td-acoes{
    width: 250px;
    text-align: center;
}
